<div class="card card-default">
	<div class="card-header card-header-border-bottom">
		<h2>Revenue Reports</h2>
	</div>
	<div class="card-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th width="20%">Date</th>
					<th>Revenue</th>
				</tr>
			</thead>

			<tbody>
				<% total = 0 %>
				<% @orders.each do |order| %>
					<tr>
						<td><%= time_format(order.revenue_date, '%d %B %Y') %></td>
						<td><%= currency_format order.revenue_amount %></td>
					</tr>

					<% total += order.revenue_amount %>
				<% end %>
				<tr>
					<td>Total</td>
					<td><%= currency_format total %></td>
				</tr>
			</tbody>
		</table>
		<div class="digg_pagination">
			<%= will_paginate @orders %>
		</div>
	</div>
</div>